%h2 Suche Verbindung

= form_for @search, :as => :search, :url => search_path do |f|
  = f.label 'Von '
  = f.text_field :source
  = f.label 'Nach '
  = f.text_field :destination
  = submit_tag 'suche'

- if @route
  .result
    - if @route == :not_found
      %p Leider nichts gefunden
    - else
      %h3 Ergebnis:
      = render partial: 'route', object: @route
